<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Charts</h1>
    <canvas id="myChart"></canvas>
</div>

<%- include('partials/script') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= JSON.stringify(labels) %>,
            datasets: [{
                label: 'Portfolio Value',
                data: <%= JSON.stringify(data) %>,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<%- include('partials/footer') %>