<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Delete Coins</h1>
    <% if (userCoinsArray && userCoinsArray.length > 0) { %>
        <form action="/deletecoins" method="post">
            <div class="form-group">
                <label for="cointodelete">Select Coin to Delete</label>
                <select name="cointodelete" id="cointodelete" class="form-control">
                    <% userCoinsArray.forEach(function(coin) { %>
                        <option value="<%= coin.coinsymbol %>"><%= coin.coinsymbol %> (Quantity: <%= coin.quantity %>)</option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    <% } else { %>
        <p>No coins available to delete.</p>
    <% } %>
</div>

<%- include('partials/footer') %>