<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Delete Captures</h1>
    <% if (userCaptureArray.length > 0) { %>
        <form action="/deletecaptures" method="post">
            <div class="form-group">
                <label for="captureToDelete">Select Capture to Delete</label>
                <select name="captureToDelete" id="captureToDelete" class="form-control">
                    <% userCaptureArray.forEach(function(capture) { %>
                        <option value="<%= capture._id %>"><%= capture.details.name %></option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    <% } else { %>
        <p>No captures available to delete.</p>
    <% } %>
</div>

<%- include('partials/footer') %>