<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Delete Keys</h1>
    <% if (userKeysArray.length > 0) { %>
        <form action="/deletekeys" method="post">
            <div class="form-group">
                <label for="keytodelete">Select Key to Delete</label>
                <select name="keytodelete" id="keytodelete" class="form-control">
                    <% userKeysArray.forEach(function(key) { %>
                        <option value="<%= key.details.key %>"><%= key.details.exchange %> (Key: <%= key.details.key %>)</option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    <% } else { %>
        <p>No keys available to delete.</p>
    <% } %>
</div>

<%- include('partials/footer') %>