<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Manage Captures</h1>
    <% if (userCaptureArray.length > 0) { %>
        <ul>
            <% userCaptureArray.forEach(function(capture) { %>
                <li><%= capture.details.name %> - <%= capture.details.date %> <a href="/editcapture/<%= capture._id %>">Edit</a> | <a href="/deletecapture/<%= capture._id %>">Delete</a></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No captures available.</p>
    <% } %>
</div>

<%- include('partials/footer') %>