<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Manual Entry</h1>
    <form action="/manual" method="post">
        <div class="form-group">
            <label for="exchange">Exchange</label>
            <select name="exchange" id="exchange" class="form-control">
                <% exchangesArray.forEach(function(exchange) { %>
                    <option value="<%= exchange %>"><%= exchange %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="coinsymbol">Coin Symbol</label>
            <input type="text" name="coinsymbol" id="coinsymbol" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity" id="quantity" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<%- include('partials/footer') %>