<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Profile</h1>
    <h2>API Keys</h2>
    <% if (userKeysArray.length > 0) { %>
        <ul>
            <% userKeysArray.forEach(function(key) { %>
                <li><%= key.details.exchange %> (Key: <%= key.details.key %>)</li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No API keys available.</p>
    <% } %>
    <h2>Coins</h2>
    <% if (userCoinsArray.length > 0) { %>
        <ul>
            <% userCoinsArray.forEach(function(coin) { %>
                <li><%= coin.coinsymbol %> (Quantity: <%= coin.quantity %>)</li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No coins available.</p>
    <% } %>
</div>

<%- include('partials/footer') %>