<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Settings</h1>
    <form action="/settings" method="post">
        <div class="form-group">
            <label for="currency">Currency</label>
            <select name="currency" id="currency" class="form-control">
                <% currencyArray.forEach(function(currency) { %>
                    <option value="<%= currency.code %>" <%= currency.code === userCurrency ? 'selected' : '' %>><%= currency.code %> (<%= currency.symbol %>)</option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="autocapture">Auto Capture</label>
            <select name="autocapture" id="autocapture" class="form-control">
                <option value="Yes" <%= userAutoCapture === 'Yes' ? 'selected' : '' %>>Yes</option>
                <option value="No" <%= userAutoCapture === 'No' ? 'selected' : '' %>>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="interval">Capture Interval</label>
            <input type="text" name="interval" id="interval" class="form-control" value="<%= userInterval %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<%- include('partials/footer') %>