<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Portfolio</h1>
    <% if (userPortfolioArray.length > 0) { %>
        <ul>
            <% userPortfolioArray.forEach(function(item) { %>
                <li><%= item.Currency %> - <%= item.Available %> (Value: <%= item.DollarValue %>, % of Portfolio: <%= item.portfolioPercentage %>)</li>
            <% }) %>
        </ul>
        <p>Total Value: <%= totalDollar %></p>
        <p>Total BTC: <%= totalBTC %></p>
    <% } else { %>
        <p>No portfolio data available.</p>
    <% } %>
</div>

<%- include('partials/footer') %>