<!-- views/view.ejs -->
<!doctype html>
<html>

<head>
  <%- include('partials/header.ejs'); %>

</head>

<body>

  <%- include('partials/navbar.ejs', {active: "View"}); %>
  <div class="content">

    <style>

      .portfolio {
        padding-top: 10px;
      }

      .portfolio-buttons {
        align-content: center;
      }
    </style>


        <!-- Image loader -->
        <div id='loader' style='display: none;'>
          <img src='/gifs/Loading_icon.gif' width='32px' height='32px'>
        </div>
        <!-- Image loader -->


    <div class="container">

      <h1>
        <span class="fa fa-briefcase"></span> Portfolio</h1>

        <% if (user != null) { %>

      <!-- show success message -->
      <% if (message.length > 0) { %>
        <div class="alert alert-success">
          <%= message %>
        </div>
        <% } %>




          <h5 align="center" class="display-5" id="total BTC" align="center">Balance =
            <%= totalBTC%>
          </h5>
          <h2 align="center" class="display-2" id="total USD" align="center">
            <%= totalDollar %>
          </h2>
          <h5 align="center" class="display-5" id="Date Time" align="center">
            <%= datenow %>
          </h5>

          <div class="portfolio-buttons">

            <form id="capture" action="/capture" method="post" name="capture">
              <button align="center" type="submit" class="btn btn-warning btn-lg">Capture</button>
            </form>

            <div class="modal fade" id="CaptureModal" tabindex="-1" role="dialog" aria-labelledby="captureModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Capture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="capture-name" class="col-form-label">Name of Capture</label>
                        <input type="text" class="form-control" id="capture-name">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="Capture">Capture</button>
                  </div>
                </div>
              </div>
            </div>




          </div>

          <div class="portfolio">

            <table align="center" id="portfolioTable" style="width:100%" class="table table-striped table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <th>Exchange</th>
                  <th>Currency</th>
                  <th>
                    <%= userCurrency %> Price</th>
                  <th>Available</th>
                  <!-- <th>BTC Coin Value</th> -->
                  <th>
                    <%= userCurrency %> Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% userPortfolioArray.forEach(function(userPortfolioArray) { %>
                    <td>
                      <%= userPortfolioArray.Exchange %>
                    </td>
                    <td>
                      <object data="\cryptocurrency-icons\dist\32\color\<%= userPortfolioArray['Currency'] %>.png" align="left" height="30" width="30" type="image/png">
                        <img src="\cryptocurrency-icons\dist\32\color\generic.png" align="left" height="30" width="30" type="image/png" /></object>
                        &nbsp;&nbsp;<%= userPortfolioArray['Currency'] %>
                    </td>
                    <td>
                      <%= userPortfolioArray.Price %>
                    </td>
                    <td>
                      <%= userPortfolioArray.Available %>
                    </td>
                    <!--  <td>
                  <%= userPortfolioArray.CoinValue %>
                </td> -->
                    <td>
                      <%= userPortfolioArray.DollarValue %>
                    </td>
                </tr>
                <% }); %>
                  </tr>
              </tbody>
            </table>
          </div>
          </p>



    </div>

    <script>
      // set focus to capture field on open of capture modal
      $('#CaptureModal').on('shown.bs.modal', function () {
        $('#capture-name').trigger('focus')
      })

      // stop form submitting
      $("form#capture").on("submit", function (e) {
        e.preventDefault();

        // Show capture modal
        $("#CaptureModal").modal("show");
      });

      // find which button closed modal
      $('#CaptureModal .modal-footer button').on('click', function (event) {
        var $button = $(event.target);

        $(this).closest('.modal').one('hidden.bs.modal', function () {
          // alert('The buttons id that closed the modal is: #' + $button[0].id);
        });

        console.log("button 0 id is", $button[0].id);

        // if user selects capture then append name to form and submit it
        if ($button[0].id == 'Capture') {

          console.log("CAPTURING!");

          // Remove the submit function from the form.
          $("form#capture").off("submit");

          // get capture name from modal
          var captureName = $('#capture-name').val();

          console.log("captureName is now, ", captureName);

          console.log("appending to form, ", captureName);

          // Attach capture name to the form
          $("<input type='hidden' name='capturename' value='" + captureName + "' />")
            .appendTo($("form#capture"));

          console.log("submitting capture form");
          // submit form
          $("form#capture").submit();
        };


      })

      </script>

    
<%- include('partials/script.ejs'); %>
</div>

<% } else { %>
  
  <h5>Login or Signup to view portfolio<h5>
  
   <% } %> 


<script>
  $(document).ready(function() {
    $('#portfolioTable').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );
          </script>


</body>